.box{
    background-color: rgb(235, 235, 235);
    padding: 1.5em;
    margin: 1em;
    min-width: 10em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,0.3);
}

.image{
    max-width: 10em;
    max-height: 10em;
}

.btnDetail{
    background-color: darkred;
    padding: 0.5em;
    border: none;
    border-radius: 10%;
    float: right;
}

.btnDetail a{
    color: white;
    text-decoration: none;
}