.footer {
    position: relative;
    bottom: 0;
    padding: 0.5em;
    height: 3em;
    background-color: #FFCC00;
}


.content {
    text-align: center;
}

.text {
    
    display: inline;
}

.image {
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.impressum{
    text-decoration: none;
    font-size: 0.8em;
    color: darkred;
}