.whole_header {
    min-height: 4em;
    width: 100%;
    background-color: #FFCC00;
    margin-bottom: 1.5em;
    border-bottom: double black 0.25em;
}

.header {
    float:left;
    display: flex;
    align-items: center;

}

.image {
    height: 2.5em;
    padding: 0.5em 1em 1em 0.5em;
    display: inline;
}


.h1 {

    font-size: 1.5em;
    display: inline;
    color: black;
    
}

.header a {
    text-decoration: none;
}

