.btnSubmit {
    background-color: darkgreen;
    padding: 0.5em;
    border: none;
    border-radius: 10%;
    margin-right: 5em;
    color: white;
    cursor: pointer;
}

.btnCancel {
    background-color: darkred;
    padding: 0.5em;
    border: none;
    border-radius: 10%;
    margin-right: 5em;
    color: white;
    cursor: pointer;
}

.red {
    color: darkred;
}

.input{
    margin: 1em 0em 1em 0em;
}


.label {
    font-weight: bold;
}

.inputField {
    margin-top: 0.5em;
}